[2016-12-28 16:26] simonmorley commented on #457
Might be related:

https://github.com/cucumber-tony/cucumber-frontend/issues/448

[2016-12-28 16:40] wifinigel commented on #458
I'd rather see gaps I guess.

[2016-12-28 16:47] wifinigel commented on #457
It doesn't look like it on the face of it. The "hover" values look correct, but the plot lines don't reflect the values observed from the hover values. It looks like the underlying data is correct, but the plot of that data is incorrect?

[2016-12-28 17:07] simonmorley commented on #457
Ok. Let's see what we can come up with. Sounds like the graphs are off.

[2017-01-01 18:29] #405 closed

[2017-01-02 16:12] simonmorley opened #459 "Status Widget Shows Loading"
statuspage.io is now returning a 400 error when loading the status.

The curl works ok:

[code]

Must be something within Angular that's causing the problems

<img width="467" alt="screen shot 2017-01-02 at 16 10 54" src="https://cloud.githubusercontent.com/assets/309336/21592532/1e55e0dc-d106-11e6-9b2a-a62b9d722851.png">

[2017-01-04 12:44] iamzakr commented on #459
I can see the error and can replicate it.
Error:
[code]

[2017-01-04 13:10] iamzakr opened #461 "Security certificate expired"
**Actual Behavior**:
Upon loading the dashboard via the specific dashboard URL (eg. zak-r-dashboard.ctapp.io/ ) an error is raised informing that the security certificate expired on 14th December 2016.
 -  `What is the issue? *`
The security certificate has expired.
 -  `What is the expected behavior?`
No error raised and a valid security certificate in place

**Additional Information**:
 -  `Brow

[2017-01-04 14:37] AndrewMargarit commented on #461
A

[2017-01-04 14:38] simonmorley commented on #461
COMMENT

[2017-01-04 14:39] simonmorley opened #462 "EGGS"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *`
 -  `What is the expected behavior?`

**Additional Information**:
 -  `Browser Type: *`
 -  `Browser Version: *`
 -  `OS: *`
 -  `Page URL: *`

----

  Add more lines if needed.

[2017-01-04 16:28] Molkenbur commented on #458
I noticed the same problem and it becomes rather worse, if you look at the 5min graph (see screenshot).
![image](https://cloud.githubusercontent.com/assets/14114203/21649374/cd7695a6-d2a1-11e6-8702-3409f12ea71b.png)

The devices send statistical data once a  minute. The 5min graph is drawn with values every 10 seconds. Thus the 5 values between the minute values are all zero.

The 30min interval g

[2017-01-04 21:59] #461 closed

[2017-01-04 21:59] #462 closed

[2017-01-06 12:09] iamzakr opened #466 "Unprocessable request on login"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *`
When logging in to the dashboard a GET request is made to https://api.ctapp.io/api/v1/brands/my?type=showcase which seems to always return 422

On some logins, an OPTIONS request is made to the same URL which

[2017-01-06 13:29] simonmorley commented on #466
One's an OPTION request, the other's a GET.

The OPTION will always be a 200.

@iamzakr - make sure both dashboard && my are added to the filter. And check this doesn't happen with dashboard.ctapp.io

Both these 'brands' can be ignored.

[2017-01-07 11:01] #466 closed

[2017-01-12 16:49] iamzakr commented on #459
Fixed with this pull https://github.com/cucumber-tony/cucumber-frontend/pull/473

[2017-01-12 16:49] #459 closed

[2017-01-13 10:07] ekesseler opened #478 "Brands link is missing"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *` The brands link is missing when clicking on the tile-menu. When you call https://my.ctapp.io/#/brands the menu is back, but it's missing again after logout/login.
 -  `What is the expected behavior?` The brand

[2017-01-13 10:07] ekesseler commented on #478
![brands-missing](https://cloud.githubusercontent.com/assets/11627677/21926062/79920610-d980-11e6-9620-d5bc9d7c4429.png)

[2017-01-14 22:45] simonmorley commented on #452
Fixed in beta

[2017-01-14 22:45] #452 closed

[2017-01-16 13:39] iamzakr opened #490 "Sorting columns for results with mulitple pages sorts the pages results not the entire results"
![screen_shot_2017-01-16_at_13_25_54](https://cloud.githubusercontent.com/assets/11335229/21985312/e1d43c70-dbf1-11e6-9e65-d44ab48fe00a.png)
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *`
When you use one of the columns to order the results on Locations su

[2017-01-17 13:16] simonmorley commented on #358
Closing. Not going to implement.

[2017-01-17 13:16] #358 closed

[2017-01-17 13:56] #420 closed

[2017-01-17 14:01] ewansheldon commented on #478
Thanks for pointing this out. Will be resolved on our next release this week.

[2017-01-17 14:43] ewansheldon commented on #292
Can no longer see emails being duplicated in audits. Do we know if the captured email issue is continuing or can this be closed?

[2017-01-17 15:25] ewansheldon commented on #56
This looks to be implemented to me - ok to close?

[2017-01-17 15:59] #478 closed

[2017-01-17 16:09] #421 closed

[2017-01-17 16:15] iamzakr commented on #490
https://github.com/cucumber-tony/cucumber-frontend/issues/309

[2017-01-17 16:16] iamzakr commented on #309
Closing in favour of #490
Client search is something we are discussing internally.

[2017-01-17 16:16] #309 closed

[2017-01-17 16:21] iamzakr commented on #292
Still happening, although less often.

[2017-01-17 16:23] iamzakr commented on #290
@ariandora is this resolved?

[2017-01-17 17:31] simonmorley commented on #407
Confirmed fixed beta

[2017-01-17 17:31] #407 closed

[2017-01-18 00:07] simonmorley opened #493 "Country code not applying to devices after updating device settings"
If you set the country / timezone of the device, it's expected this is applied to the device directly.

It would also make sense to inherit from the location and also the brand.

<img width="286" alt="screen shot 2017-01-18 at 00 06 07" src="https://cloud.githubusercontent.com/assets/309336/22045422/08d5ca70-dd12-11e6-9c06-f4e6139ad622.png">

[2017-01-18 08:51] ariandora commented on #290
@iamzakr the code is commented out, the commit is more of a setup for the pagination, as the links information was not always present.

[2017-01-18 09:35] simonmorley commented on #290
@iamzakr -> open a ticket internally to ensure all required
controllers have the _links block.

[2017-01-18 09:36] iamzakr commented on #290
👍

[2017-01-18 12:33] ekesseler opened #494 "Brand triggers schedule not editable"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue?`
Brand triggers schedule not editable. If I enter 00:00 / 00:00 into the hours they won't be saved. If I use 00:01 / 23:59 it will save 02:00 / 00:59.No error is displayed.
 -  `What is the expected behavior?`
Br

[2017-01-18 16:20] ewansheldon commented on #494
We have made some changes to the triggers, which should have fixed this issue now. We are unable to replicate the time issue, so could you please try to change the time of your scheduled triggers and let us know if the issue continues.

[2017-01-19 07:09] ekesseler commented on #494
[trigger-bug.mp4.zip](https://github.com/cucumber-tony/cucumber-frontend/files/715893/trigger-bug.mp4.zip)

[2017-01-19 09:43] ekesseler commented on #494
You will need VLC Player to open the video, sorry for that.

[2017-01-20 09:48] ariandora opened #499 "[enhancement]More detailed location history"
The location history contains only changes done in the location setting.
Is it possible to have more detailed history, like a box added or deleted, network aded or deleted, etc.

[2017-01-20 13:17] #494 closed

[2017-01-21 10:44] wifinigel opened #502 "Feature Request: Display Channel Number For AP Even When Auto-Selected"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *` - When looking at a list of APs or looking at the configuration of an individual AP, the channel that an AP is using is displayed if it has been manually set, but not if it has been auto-set by the AP itself.

[2017-01-23 15:17] AndrewMargarit opened #508 "DEVICES - Just filters, should search"
Similar to https://github.com/cucumber-tony/cucumber-frontend/issues/63

[2017-01-24 10:40] AndrewMargarit opened #513 "MCS can't be fractional."
MCS can only be
- a positive real number.
- Zero
- No value

Under the client's page, go to a client and you will see MCS values of 6.70.

@ariandora Is this similar to your client count issue?

[2017-01-24 10:41] ariandora commented on #513
will take a look, should be the same

[2017-01-24 11:12] #39 closed

[2017-01-24 11:42] ariandora commented on #513
for the axis value I used:
options.vAxis = {
          format: '0',
          minValue: 4
        };
that might have to be added in the mcsCharts function in the charts. directives;
atm my mcs index is always 0 so I can't really test it, maybe someone else can try it out?

[2017-01-26 12:41] SaschaQA commented on #403
Powered by is removed from login pages, but still it is visible at the welcome page

[2017-01-27 17:43] iamzakr commented on #35
fixed currently on beta

[2017-01-27 17:43] #35 closed

[2017-01-30 12:00] mbecks opened #529 "Feature Request: Option to enable/disable UAPSD per network"
OpenWRT and Hostapd support the option to enable/disable UAPSD per interface. If not specified, the feature is enabled by default. From experience, we know that UAPSD can cause trouble with some Wifi clients (notably mobile phones), mostly in form of random disconnects. An option to disable the feature for individual networks will be helpful for people experiencing such troubles.

UAPSD can be dis

[2017-02-01 10:45] ekesseler opened #531 "Email variables (e.g. Owner, Observer) should be available on brand triggers"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? /webhook/device/added?ap_mac={{ Ap_Mac }} setup as POST leads to...`
 -  `What is the expected behavior? ... a GET /webhook/device/added?ap_mac={{ 206 4ms with the ap_mac variable not beeing resolved. Other varia

[2017-02-01 10:46] ekesseler commented on #531
The setup of the type GET/POST also doesn't seem to work. When you create a webhook as GET, it is set to POST when you edit it.

[2017-02-02 10:13] #292 closed

[2017-02-02 14:33] #265 closed

[2017-02-02 14:46] #352 closed

[2017-02-04 16:37] #513 closed

[2017-02-04 16:38] simonmorley commented on #490
Should be resolved by recent commits, some of which are in beta. @iamzakr re-open if still causing issue

[2017-02-04 16:38] #490 closed

[2017-02-04 16:38] #280 closed

[2017-02-04 16:38] #217 closed

[2017-02-04 16:40] simonmorley commented on #508
@AndrewMargarit More information please.

[2017-02-04 16:40] simonmorley commented on #448
@iamzakr Did you resolve this - I think a recent commit closes it.

[2017-02-04 16:41] simonmorley commented on #380
This is resolved in SMv4 and won't be applied to v3.

[2017-02-04 16:41] #380 closed

[2017-02-04 16:41] simonmorley commented on #80
@iamzakr @ewansheldon Fixed???

[2017-02-04 16:59] simonmorley commented on #400
@AndrewMargarit Can you implement this on your own?

[2017-02-06 14:35] SaschaQA opened #544 "Box trigger dont work if device has tags"
Description:
I tried to send a mail via box.online, box.offline, box.resync trigger.

In all cases this trigger does not run if I have added one or more tags to the device. (No mail is sent and "runs" value does not increase)

If I remove the tags, mails are sent correctly (verified with box.resync).

[2017-02-07 09:31] iamzakr commented on #80
fixed

[2017-02-07 09:31] #80 closed

[2017-02-07 11:36] AndrewMargarit commented on #508
It's exactly the same as the issue you added.
The input should allow a full search through the devices. Right now, it's just filtering the list on the page you selected.

[2017-02-07 11:37] simonmorley commented on #508
Note for future reference, it's time consuming to have to read another related issue and the find the comparison based on the title.

Add the requirement and link the issue as you've now done.

[2017-02-08 14:13] #91 closed

[2017-02-08 17:57] AndrewMargarit commented on #400
No.
This needs to go in the configs.

[2017-02-09 08:18] ekesseler opened #549 "Standard notification email is send two times"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? The standard notification emails are send two times. One with the project user only as recipient, the other with the brand owner's email as second recipient. E.g.: First mail to: project_user@projectdomain.com ..

[2017-02-09 08:20] simonmorley commented on #549
@ekesseler Could you plonk the trigger ID in here so I can double check.

[2017-02-09 08:21] ekesseler commented on #549
Don't think there is a trigger? These are the standard notification emails, like [BOX ADDED]

[2017-02-09 08:23] ekesseler commented on #549
If you want I can forward you one...

[2017-02-09 08:23] simonmorley commented on #549
Ah ok. Yeah, got it. Thanks

[2017-02-10 13:35] ZakMooney commented on #56
Am closing for now.

If it is not implemented, feel free to reopen @simonmorley

[2017-02-10 13:35] #56 closed

[2017-02-13 12:03] iamzakr opened #555 "Radius stats stopped after Jan 29th"
**Actual Behavior**:
 -  `What is the issue? *`

Radius stats in the reports section of CT don't load data after Jan 29th.

 -  `What is the expected behavior?`

Data should be showing up to date stats.

**Additional Information**:
 -  `Browser Type: *`
 -  `Browser Version: *`
 -  `OS: *`
 -  `Page URL: *`
This is cross platform.

----

  Add more lines if needed.

[2017-02-14 11:19] #555 closed

[2017-02-14 14:15] ariandora opened #558 "Client charts always display 'No graph data'"
**Actual Behavior**:
 -  `What is the issue? *`
The charts on both the /client and client/:id pages have no data, despite there being a client connected and streaming a video for a time. The last data I have on my device is from the 9th of Feb.

**Additional Information**:
 -  `Browser Type: *` Chrome
 -  `Browser Version: *`
 -  `OS: *` MacOs
 -  `Page URL: *`locations/location_id/clients and loc

[2017-02-15 11:43] SaschaQA opened #559 "Reports showing data for all Customers if no location created"
If you did not create any location and then have a look at the reports you will see data for all cucumber usersers.
For example 106.000 individual users, created vouchers, splash access methods and so on.

----
![reportsnolocationct2](https://cloud.githubusercontent.com/assets/24247297/22973013/8fc4dbf4-f37c-11e6-9143-f6b321db9c7c.png)
![reportsnolocationct1](https://cloud.githubusercontent.com/as

[2017-02-15 21:36] simonmorley commented on #559
Thanks for the heads up, all fixed. Changes on way!

[2017-02-15 21:36] #559 closed

[2017-02-16 23:11] simonmorley commented on #558
Not enough information to troubleshoot the issue.

[2017-02-17 17:31] #558 closed

[2017-02-20 10:45] iamzakr commented on #448
😮
👍

[2017-02-20 11:33] Molkenbur commented on #448
Hi iamzakr,  I cannot see, that the problem is fixed.
Is there something, I missed? Where did you fix the problem? Do I need SocketMan 4.0 to get it fixed?

![image](https://cloud.githubusercontent.com/assets/14114203/23123355/4ecaf5ee-f768-11e6-9197-381ee99b26d7.png)

[2017-02-20 11:39] iamzakr commented on #448
I checked through a bunch of locations and didn't see the issue anywhere, let me have another look.

[2017-02-20 11:50] iamzakr commented on #448
You'll have to excuse my oversight, it's definitely not a consistent issue, I just got lucky (or unlucky) with my test sample and found many 5Ghz clients correctly displaying the SNR. But it does seem to still be an issue, working on it.

[2017-02-20 12:05] Molkenbur commented on #448
Thanks for the quick answer. It might be firmware related. To be sure, that the problem does not only occur with our devices, we tested it with Ubiquity and Cucumber firmware, too.

[2017-02-20 12:22] iamzakr commented on #448
@Molkenbur I need to check whats in the database, but that client is showing 0dB signal and 103dB noise which would make the calculation correct at the least. Also I could be wrong but I think you can have noise with no signal, so I'm wondering if there is a chance that this is actually correct.

Side note: The graph displaying this data is wrong however. That will be fixed.

[2017-02-20 13:15] Molkenbur commented on #448
Hi @iamzakr, you are right. My issue description should mention that, too. Even if 0dB is not the same as zero output power, a signal of 0dB is not likely while stations are connected.
To be honest, I haven't seen a problem with the graph so far.

[2017-02-21 12:46] AndrewMargarit opened #571 "Triggers - Emails"
Listed below are the emails we are parsing and sending to customers right now, in the brackets are the information we would need (idealy) to replace the emails with triggers and variables.
Maybe you also see use for the variables (if they are not already there) and for your customers to include them.
[code]

[2017-02-22 09:32] SaschaQA opened #573 "Mean device traffic/wifi traffic/wifi usage graph does not make sense"
If you are looking at a specific device it is possible display the "WiFi traffic" or the "WiFi usage" graph.
These graphs are actually only showing traffic from the Access Point or to the Access Point itself.
I was running iperf tests on the SSID configured on this AP for about 4 hours. the graph did not show any bigger value (always about 0.01Mbps/1 MB).

At last I started an iperf server/client

[2017-02-22 16:23] AndrewMargarit opened #575 "Devices : Only 2.4 channels are shown under the Channel Column"
For dual radio devices, we need to display both channels under that column.

[2017-02-23 13:24] iamzakr opened #579 "Scheduled triggers behavior very strange"
Created 2 triggers.
1 should disable my networks daily at 5 AM
1 should enable my networks daily at 6 AM
actually both triggers were running the day before at 5PM, 6PM, 7PM and 8PM
![2017-2-5-12-54-35-373](https://cloud.githubusercontent.com/assets/11335229/23260795/729c00ca-f9cb-11e6-97b7-8ff97b53839c.png)

[2017-02-23 13:28] SaschaQA commented on #579
Today (one day later) the trigger startet to run again at 2 PM

[2017-02-24 10:23] #579 closed

[2017-02-24 10:23] simonmorley commented on #579
Scheduled triggers are still under heavy development so you should expect changes and for things to break.

[2017-02-24 10:24] simonmorley commented on #575
Where? Which column?

[2017-02-24 10:25] simonmorley commented on #573
The wireless stats are wireless stats, not bandwidth stats. That's why they're called WiFi traffic or usage.

We think there's a reporting issue with some devices at the moment that we're working on.

[2017-02-24 10:26] #571 closed

[2017-02-26 11:15] simonmorley commented on #544
Can't replicate, works fine locally and in production.

- Updated box with tags - no trigger.
- Added trigger to box.
- Updated box - trigger sent.

Could you test again and confirm. If it still fails, paste the slug in here and I'll take another look.

[2017-02-26 11:39] simonmorley commented on #531
The latter seems to be a visual. Updated and still see that it's set to POST.

Have updated this on beta.

I don't really understand exactly what the other problem is. Are you saying the Ap_Mac variable isn't working. I've tested w/o issue this side.

[2017-02-26 12:06] simonmorley commented on #502
Not possible atm.

[2017-02-26 12:07] simonmorley commented on #448
This is being moved to won't fix in anticipation of SMv2 moving to beta.

[2017-02-26 12:07] #448 closed

[2017-02-26 15:29] wifinigel commented on #575
Here is a screen shot showing this issue. These APs have the 5GHz channel manually set, but on the 2.4GHz channel is shown:
![image](https://cloud.githubusercontent.com/assets/19818404/23341024/4d1b2410-fc38-11e6-9b40-386edf0c25b4.png)

[2017-02-26 15:48] wifinigel opened #581 "Ubiquiti AC Lite AP Only Allows Manual Config of 5GHz Channels 36 - 48"
It is not possible to manually configure the Ubiquiti AC Lite AP for channels beyond channel 48 from the CT dashboard.  When the channel selection is set to "auto", the the AP may select channels beyond channel 48 itself, but this needs to be available as a manual operation too.

**Actual Behavior**: Not possible to select channels above ch 48 on the 5GHz band
 -  `What is the issue? *` It is not

[2017-02-26 17:56] wifinigel commented on #581
Think this is a duplicate of #252
https://github.com/cucumber-tony/cucumber-frontend/issues/252

[2017-02-27 07:04] ekesseler commented on #531
I'll post info onto slack.

[2017-02-27 10:31] simonmorley commented on #531
It would seem this only affects brand triggers, not the location triggers.

[2017-02-27 14:13] SaschaQA opened #582 "Vertical graph/line alignment bad"
Vertical line should be a little bit mor left to fid the grid line.
Maybe his behavior is caused by english timezone.
Only the graph at device overview is affected by this.
![graph](https://cloud.githubusercontent.com/assets/24247297/23364407/423e108a-fcff-11e6-9b0c-91ed83d2f11b.png)

[2017-02-27 14:18] iamzakr commented on #582
Yes, this issue is timezone related. It's open internally, I should've made an issue here also.

[2017-02-27 18:41] simonmorley commented on #581
Closing but still need to address some country specific validations.

[2017-02-27 18:41] #581 closed

[2017-03-07 09:08] #544 closed

[2017-03-07 09:08] simonmorley commented on #544
Closing @SaschaQA since we didn't hear back

[2017-03-12 20:45] simonmorley commented on #531
This should be resolved now. The message should include the dynamic vars again.

Also resolve is the brand tags. Seemingly these were only working for location triggers also.

Please re-open if you continue to have issues.

[2017-03-13 10:42] simonmorley commented on #502
Needs SMv2

[2017-03-13 12:45] ekesseler commented on #531
location_name={{Location_Name}} doesn't work, also the following values are not loaded in the email channel: Owner, Admin, Editor, Supporter, Observer

[2017-03-16 09:19] #575 closed

[2017-03-17 09:50] AndrewMargarit commented on #249
I'm reopening this one.
@ZakMooney @iamzakr can you do something about it?

[2017-03-21 10:16] ekesseler commented on #531
@iamzakr Any news?

[2017-03-21 10:30] iamzakr commented on #531
Unfortunately not yet 😓

[2017-03-21 10:32] ekesseler commented on #531
Ok, no problem. Can you let me know, when something changed?

[2017-03-21 10:33] iamzakr commented on #531
Sure thing

[2017-03-22 09:41] SaschaQA opened #602 "Sort order for station description does not work properly"
Sort order for station description does not work properly.

In screenshots attached you will see the results for description ascending and descending.

![description](https://cloud.githubusercontent.com/assets/24247297/24191414/10bfd4ae-0eec-11e7-8ee4-192c96643ea5.png)
![description2](https://cloud.githubusercontent.com/assets/24247297/24191413/10bcae14-0eec-11e7-8c8a-950d3048f505.png)

[2017-03-22 09:48] ewansheldon commented on #602
Thanks for flagging this @SaschaQA - I noticed this two when adding the sorting feature.

To me it seems as though the table can sort by descriptions well both descending and ascending, but there's something strange about the description strings which is causing them to fall out of the sync of alphabetical order. I'm going to take a look at this again soon.

[2017-04-03 11:33] simonmorley commented on #531
@ewansheldon can you check this is working now. Toni changed the names of the fields.

[2017-04-04 08:36] ekesseler commented on #531
@simonmorley was your comment for this bug?
@iamzakr Do you have any news?

[2017-04-04 10:00] mep253 opened #626 "Not responsive graphs in Reports"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *` See attachment
 -  `What is the expected behavior?`

**Additional Information**:
 -  `Browser Type: *`
 -  `Browser Version: *`
 -  `OS: *`
 -  `Page URL: *`

----

  Add more lines if needed.

![not_responsiv

[2017-04-04 10:21] ewansheldon commented on #626
Thanks for reporting @mep253 - we're definitely aware of this issue and are currently working on a number of improvements and changes to our charts and reports 😊

[2017-04-04 10:33] ewansheldon commented on #531
@ekesseler we're looking into this as a part of this week's sprint. will let you know when we have an update

[2017-04-04 14:01] ewansheldon commented on #531
hi @ekesseler - definitely seems to be a problem with the 'email tags' variables at brand level, so the five you've named above (Owner, Admin, Editor, Supporter, Observer). we're looking into this now.

however i haven't been able to recreate this error with Location_Name for example - sends the variable to webhooks just fine with the box added trigger for me. is it still not working for you?

[2017-04-05 09:53] ewansheldon commented on #531
I had a look through these issues yesterday.

So part of the issue is that you were testing the five email variables (Owner, Admin, Editor, Supporter, Observer) inside the body of the email. These five variables are only available as the To Address for email triggers, not in the body or subject of emails and not in webhooks. This is indicated by the fact that they are "Email tags" as indicated by

[2017-04-05 11:06] ekesseler commented on #531
@ewansheldon I will do a re-test on 10.04.

[2017-04-10 05:17] ekesseler commented on #531
location_name={{Location_Name}}&ap_mac={{Ap_Mac}}&short_url={{Short_URL}} works
location_name={{Location_Name}}&ap_mac={{Ap_Mac}}&short_url={{Short_URL}}&created_at={{Created_At}} doesn't work

[2017-04-20 09:05] AndrewMargarit opened #633 "Network description missing"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *`
The network description used when you assign an SSID to a zone is missing from the network settings page.
![wi-fi management platform 21](https://cloud.githubusercontent.com/assets/2269441/25222581/bdd7bf5a-25

[2017-04-20 12:47] AndrewMargarit opened #634 "Splash editor side image upload missing"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *`
I cannot upload the side image as there is no field to do this.
 -  `What is the expected behavior?`
I want to enable the side image and upload it in the same place.

![wi-fi management platform 22](https://cl

[2017-04-20 12:52] #634 closed

[2017-04-20 12:52] AndrewMargarit commented on #634
not an issue

[2017-04-24 10:22] ekesseler commented on #531
@ewansheldon Anything new?

[2017-04-24 10:31] ewansheldon commented on #531
apologies @ekesseler - we have raised the issue internally and will try to look at this next week i think - i'll keep you updated

[2017-04-25 07:36] SaschaQA opened #636 "Time for voucher activation is wrong"
Create a voucher list.

Connect a client to this splash page and enter a valid voucher.

The displayed activation time for this voucher is  the current time +1h.

![timestamp](https://cloud.githubusercontent.com/assets/24247297/25372852/7bf277c0-2997-11e7-9386-9307f89be479.png)

Client/device is located in Germany.

[2017-05-16 07:39] mep253 opened #650 "Section headings in the emojionearea drop down are not translated"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.
![image-2017-04-05-09-03-38-992](https://cloud.githubusercontent.com/assets/17065269/26094742/d60ffcfe-3a23-11e7-943a-001cad9e0152.png)

**Actual Behavior**:
 -  `What is the issue? *`
 -  `What is the expected behavior?`

**Additional Information**:
 -  `Br

[2017-05-17 07:25] ekesseler commented on #531
@ewansheldon @simonmorley any news? just did a restest with trigger 58b3fb7ea7ef7d000d087c19:
...?location_name={{Location_Name}}&ap_mac={{Ap_Mac}}&short_url={{Short_URL}} **works**
...?location_name={{Location_Name}}&ap_mac={{Ap_Mac}}&short_url={{Short_URL}}&created_at={{Created_At}} **doesn't work**

[2017-05-17 08:18] ewansheldon commented on #531
morning @ekesseler - this is actually a part of this week's bug sprint, so we're going to take a look while ironing out some other trigger issues.

we should be able to give you an update this week. sorry it's taken a little while

[2017-05-17 10:50] ekesseler commented on #531
also not fired:
- id: 591c0c94c8d0b5000f8dd1d2
- channel: webhook
- event: device offline
- method: POST
- url: ...?description={{Description}}&location_name={{Location_Name}}&ap_mac={{Ap_Mac}}&last_heartbeat={{Last_Heartbeat}}&short_url={{Short_URL}}

[2017-05-19 09:50] ekesseler commented on #531
These variables don't get resolved in the body of brand triggers (e.g. online / offline)
ids: 591e987614ee1d000f073d1e, 591e9adec8d0b5000f2d8b51

Owner: {{Owner}}
Admin: {{Admin}}
Editor: {{Editor}}
Supporter: {{Supporter}}
Observer: {{Observer}}
Username: {{Username}}

[2017-05-19 09:57] ewansheldon commented on #531
morning @ekesseler - see above on owner, admin, editor, supporter and observer. these are only available as email address fields by design, though we have already noted previously adding these as body variables for a feature in the future.

i'll note down the issue with the username for @simonmorley to look at while he is investigating trigger issues.

[2017-05-19 10:39] ekesseler commented on #531
@ewansheldon Ok, I set the {{Owner}} Var into the email-to-field (id: 58c64be20390a9000f075e15), but no emails is received

[2017-05-19 10:42] ewansheldon commented on #531
is this on a brand trigger?

[2017-05-19 10:42] ekesseler commented on #531
Yes

[2017-05-19 10:44] ewansheldon commented on #531
please see my message on this thread from the 5th April:

[2017-05-19 10:45] ewansheldon commented on #531
also the updated title of this whole github issue!

[2017-05-19 10:48] ekesseler commented on #531
@ewansheldon But to have the Username Variable in the Email Body or Webhook URL should be supported?

[2017-05-19 10:55] ewansheldon commented on #531
from what i understand, yep. so i've listed it as a bug.

though on the trigger variable tooltips, i can't see it listed (though it is included in the given example) - i'll speak with simon about it

[2017-05-20 11:30] simonmorley commented on #582
Should be resolved in a forthcoming release.

[2017-05-20 11:30] simonmorley commented on #499
WIP

[2017-05-20 12:47] simonmorley commented on #270
Resolved in a forthcoming release.

[2017-05-23 19:15] simonmorley opened #657 "Locale doesn't change back from DE to EN"
@Molkenbur Users are reporting that after changing the locale to DE, they're unable to return to EN.

I've had one user test this today with a private tab and it worked.

Can you kindly get your devs to look into why this is causing issues. Kind of annoying.

[2017-05-24 18:51] #270 closed

[2017-05-24 22:50] #458 closed

[2017-05-24 22:50] #493 closed

[2017-05-24 22:50] #573 closed

[2017-05-24 22:50] #582 closed

[2017-05-24 22:50] #626 closed

[2017-05-24 22:50] #650 closed

[2017-05-24 22:50] #46 closed

[2017-05-27 16:20] simonmorley commented on #531
I can confirm the variables {{ Owner }} etc all work as email recipients for LOCATION triggers. However, by design, they will NOT work for brands.

The {{ Username }} field has now been added to locations, networks, devices, zones & vouchers triggers. I've tested this w/o issue and confirm this variable works fine.

Please note, the {{ Username }} field is the username of the user performing the a

[2017-05-27 16:20] #531 closed

[2017-05-31 05:28] ekesseler opened #669 "Devices dashboard doesn't fully show"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? On a high resolution (1920×1080), the devices dashboard doesn't show fully.`
 -  `What is the expected behavior? The devices dashboard (no devices added yet) should be shown.`

**Additional Information**:
 -  `Br

[2017-05-31 07:39] simonmorley commented on #531
@ekesseler What kind of trigger is this?

[2017-05-31 07:44] ekesseler commented on #531
It's an email trigger for the device online event, but the same is true for the offline event / web hook with the same data:

Username: {{Username}}
Description: {{Description}}
Location_Name: {{Location_Name}}
Ap_Mac: {{Ap_Mac}}
Last_Heartbeat: {{Last_Heartbeat}}
Short_URL: {{Short_URL}}

...?description={{Description}}&location_name={{Location_Name}}&ap_mac={{Ap_Mac}}&last_heartbeat={{Last_Heart

[2017-05-31 07:46] simonmorley commented on #531
device.online / device.offline triggers are system events and are not triggered by a specific user.

The username field relates to the user who performed the event. For example, if a user updates a box, you will see the username in there.

[2017-05-31 07:48] ekesseler commented on #531
Ok, wanted to use this as replacement for the online / offline notification email and do a web hook call to my backend so I can send an email to the user.

Is there any way to get to the username via the API and Ap_Mac or the Location?

[2017-05-31 07:52] simonmorley commented on #531
You have the resource_id and ap_mac so you should be able to use the API to fetch the box. From there you should be able to fetch the location.

Does that work?

[2017-05-31 08:53] ekesseler commented on #531
The user_id is the id of the brand admin, seems he has no permission to access the projects, so I cannot receive the data of the user that added the box?

[2017-05-31 10:34] simonmorley commented on #669
Affirmative Jim. Works on Chrome, not on Safari. @ZakMooney Can you look into this please. There's a bug in angular material that causes this - might need to remove the flex attributes, can't remember exactly.

[2017-05-31 21:50] simonmorley commented on #531
You can search for the mac or use the slug. Then you should be able to find the location. Then you should be able to get the location's users?

[2017-06-06 07:15] ekesseler commented on #531
I do:

- https://api.ctapp.io/api/v1/boxes?q=F4-06-8D-01-02-03&access_token=...
...
"location_id": 0815,
...

- https://api.ctapp.io/api/v1/locations/0815?access_token=...
...
"user_id": 1234,
...

- https://api.ctapp.io/api/v1/users/1234?access_token=...
...
Super-Brand-Admin
...

As I see it there is only one user in the location, which is the Super-Brand-Admin but I wanted to get the Project-Us

[2017-06-09 10:48] ZakMooney commented on #669
https://github.com/cucumber-tony/cucumber-frontend/pull/682
Dashboard now showing fine on Safari

[2017-06-16 16:11] Molkenbur opened #694 "Period selection does not work on client view page"
**Actual Behavior**:
 -  `What is the issue? *`
On the View page of a specific client, I click on any other time period, but the graphs are not changing. Even, if I press on the update icons. I have to reload the page to see the correct graphs.
 -  `What is the expected behavior?`
Just after pressing any other period, the new graphs with the new period are loaded

**Additional Information**:
 -  `

[2017-06-21 07:50] mbecks opened #702 "Not possible to change client name or policies"
It's currently not possible to assign a policy to a client or change its device name. An error message pops up, saying that there was an error.

[2017-06-21 07:56] mbecks opened #703 "Device name missing in client table"
The client overview table has a name column that always shows n/a at the moment, even for clients that actually have a name. Because of #702 it's currently impossible to assign a name to a client, but if you have a client that already had a name assigned to it, this name is not shown in the table. You can see the name on the individual client's details page but it's quite cumbersome to click throu

[2017-06-21 09:21] mep253 opened #704 "Logout a client is no more possible."
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *` It is no more possible to logout a client. The Logout option is always disabled regardless of client status and splash page type.
 -  `What is the expected behavior?`

**Additional Information**:
 -  `Browser

[2017-06-21 09:58] ewansheldon commented on #694
closing this as we have now switched to date pickers for more flexibility. feel free to make suggestions or pull requests if you find a better option for the date picker

[2017-06-21 09:58] #694 closed

[2017-06-21 10:32] ewansheldon commented on #702
thanks for reporting these issues @mbecks - have added both to list of tasks for the week

[2017-06-21 10:33] ewansheldon commented on #704
thanks for reporting @mep253 - looking into this now

[2017-06-21 11:29] mbecks commented on #703
Actually, there's a lot of information missing from the clients table right now. Especially when enabling additional columns from the settings menu. Looking at the result from the API call, I can see that some of the values are just 0 or an empty string, while others are completely missing from the result object.

[2017-06-21 11:51] mep253 opened #705 "Period filter on devices detail page doesn't trigger heartbeat chart reload."
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *` Changing the period doesn't affect the heartbeat chart on devices detail.
Only page reload does.
 -  `What is the expected behavior?`

**Additional Information**:
 -  `Browser Type: *`
 -  `Browser Version: *`

[2017-06-21 11:54] ewansheldon commented on #703
could you please make a note of any you notice that are missing in the index call and we can get this sorted as soon as possible? thanks @mbecks

[2017-06-21 12:52] mbecks commented on #703
Always zero are:
- SNR
- Signal
- MCS Index
- Expected Tput

Always empty string:
- Device Name (AP Description ?)

Missing from the data model:
- Description (Name)
- Manufacturer
- Splash User
- Policies
- Type

There are also some columns that are configurable but are actually missing from the table:
- Expected Tput
- AP Description (only header missing)
- Splash User (only header missing)
- Ty

[2017-06-21 13:23] mbecks opened #706 "Device SNR chart shows 2.4 GHz for all radios"
The recently updated device SNR chart shows the SSID with the radio frequency in parentheses. The frequency is always 2.4 GHz, even for 5 GHz radios. The metrics endpoint returns "freq":"2" for all interfaces.

[2017-06-21 13:28] mbecks opened #707 "Device SNR chart shows SSID null"
The device SNR chart sometimes shows SSID null instead of the actual SSID name. Even though I only have two SSIDs (on 2.4 and 5 GHz each), the metrics endpoint returns six interfaces instead of four. Two of them actually have SSID "null". This occurred after I deleted an existing network and created a new one.

[2017-06-22 11:17] ewansheldon commented on #706
hi @mbecks could you please send the link to an example box for this issue? thanks

[2017-06-23 07:14] mbecks commented on #706
https://my.ctapp.io/#/locations/mandarin-singapore-en1jihbgxywoq4oqoerf5g/devices/pi8vi7ivmbpok1b9ohzy-w

[2017-06-23 12:16] ewansheldon commented on #702
now fixed in beta - thanks for raising

[2017-06-23 12:16] #702 closed

[2017-06-23 12:17] ewansheldon commented on #705
now fixed in beta - thanks for raising

[2017-06-23 12:17] #705 closed

[2017-06-23 19:41] simonmorley commented on #707
Moving forwards, can you define whether this affects v3 or v4 boxes or both.

[2017-06-23 19:41] simonmorley commented on #706
Affects v3 only

[2017-06-24 10:50] #669 closed

[2017-06-24 11:46] #707 closed

[2017-06-24 11:46] #706 closed

[2017-06-24 11:47] simonmorley commented on #657
@mbecks @Molkenbur can one of you action this please as we're getting numerous complaints from users about not being able to return to EN.

[2017-06-25 08:24] simonmorley commented on #703
Device name is back - the update can take a few seconds for future reference.

Manufacturer, policy and AP description are planned for re-addition later.

MCS is showing 0 on SocketMan v4 clients but ok with v3.

Closing since we have this open internally.

[2017-06-25 08:24] #703 closed

[2017-06-26 08:56] mbecks commented on #657
Did the customers who reported this leave some additional information, e.g. what exactly they did, which browser they were using, etc. ? I am unable to reproduce this with my browser on your production front-end. I can switch back and forth between English and German at will. We also got no such reports for our front-end.

[2017-06-26 09:26] simonmorley commented on #657
There's been a few reports mainly Chrome. They all had to clear their cookies and or local cache.

I actually suspect there's something overriding it since I ended up in DE Twitter the other day. We seem to use the same cookie name - which is logical.

[2017-06-27 11:16] mep253 opened #725 "Scheduled time settings for triggers are "broken" after save"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *`
 -  `What is the expected behavior?`

**Additional Information**:
 -  `Browser Type: *`
 -  `Browser Version: *`
 -  `OS: *`
 -  `Page URL: *`
![trigger_action_time](https://user-images.githubusercontent.com/1

[2017-06-27 12:02] mbecks opened #727 "Number of clients shown in device overview is always zero"
The number of clients shown in the device overview table is always zero, i.e. a dash '-' is shown instead of the actual value.

This definitely affects v3 devices. We currently don't have any v4 devices in testing, so I cannot say anything about that.

[2017-06-27 12:08] ewansheldon commented on #727
hi @mbecks - this is already open internally and being fixed currently. thanks for raising

[2017-06-27 12:08] #727 closed

[2017-06-28 08:41] #725 closed

[2017-06-28 08:42] simonmorley commented on #725
@mep253 Use the format ```fixes #id ``` in your commit messages to automatically close these ;)

[2017-06-28 13:45] mbecks opened #735 "Inbound device traffic chart shows strange data"
The device traffic chart that shows inbound and outbound traffic for a device shows different kinds of stats for inbound and outbound. Outbound looks plausible, but the data shown by the inbound chart looks like wifi usage instead of traffic (the values are increasing steadily).

[2017-07-01 13:02] simonmorley commented on #735
Can you provide an example of the data please - the raw data would be better.

[2017-07-01 16:04] simonmorley opened #739 "Boxes (heartbeat) distance not set correctly on show page"
If you set the distance to 1 day on the boxes#show page, it should give us the data for the last day.
Instead it seems to give us the data since midnight as shown here:

[code]
Heartbeats obviously shown wrong.

[2017-07-08 14:33] #290 closed

[2017-07-08 14:33] #371 closed

[2017-07-08 14:33] #413 closed

[2017-07-08 14:33] #499 closed

[2017-07-08 14:33] #549 closed

[2017-07-08 14:33] #310 closed

[2017-07-08 14:34] #657 closed

[2017-07-30 16:25] #223 closed

[2017-07-30 16:25] simonmorley commented on #64
Now we only show online clients - you can  change the view to see all

[2017-07-30 16:25] #64 closed

[2017-07-30 16:26] #63 closed

[2017-09-18 14:52] #739 closed

[2018-11-15 14:04] Ambarish-kj opened #1030 "Facing Problems to install node-modules"
It's hard to solve a problem when important details are missing. For fast resolution of problems, include as much detail in the fields below.

**Actual Behavior**:
 -  `What is the issue? *`
 -  `What is the expected behavior?`

**Additional Information**:
 -  `Browser Type: *`
 -  `Browser Version: *`
 -  `OS: *`
 -  `Page URL: *`

----

  Add more lines if needed.

[2018-11-15 14:07] #1030 closed

[2019-06-24 04:48] jack-solutions opened #1031 "can't add device in dashboard"
I have run a ct-front end. When I add a device to the dashboard it is not added inside. just show the only device.

I have also started the socketman and there are logs is here.

i'm using raspberry Pi 3 Model B+
-> stuck in device add in my dashboard.
my device in install OpenWRT SNAPSHOT version and release

this is a dashboard device configuration setting screenshots

![Wi-Fi Management Platfor